<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICurrencyToWordsConverter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2004/CurrencyToWordsConverter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyToWordsConverter"
                contract="ICurrencyToWordsConverter" name="BasicHttpBinding_ICurrencyToWordsConverter" />
        </client>
    </system.serviceModel>
</configuration>